<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/createGroup.css">
</head>

<body style="background-color: rgb(33,37,46)">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center header">Create a New Poll</h1>
			</div>
		</div>

		<div class="row vote-buttons">
			<div class="col-md-16">
				<form method="post" id="myform" action="/executeCreation">
					<label for="name" class="vote-details">Poll Name:</label>
					<input type="text" class="form-control" name="name" id="name"/>

					<label for="desc" class="vote-details">Description:</label>
					<textarea type="text" rows="5" class="form-control" name="desc" id="desc"></textarea>
					
					<label for="options" class="vote-details">Poll Options:</label>
					<ul id="options"></ul>
					<div class="row">
						<div class="col-md-4">
							<input id="newOption" type="text" class="form-control" placeholder="+  New option">
						</div>
						<button type="button" onclick="addOption()">Add</button>							
					</div>
					
					<button type="submit" class="btn btn-success btn-lg group-button text-center" id="submit">
						Submit
					</button>
				</form>
				<form method="get" action="/">
				<button type="submit" class="btn btn-danger btn-lg group-button text-center">
					Cancel
				</button>
				</form>
				<button type="button" onclick="getPollOptions()">Get Poll Options</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center user-details">
				A Web Science Systems Development Project
				</h2>
				<h2 class="text-center user-details">
				Created by Justin Etzine, Steve Cardozo, Sensen Chen, Sam Fok, and Tristan Villamil
				</h2>
			</div>
		</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
		function addOption()	{
			$("#options").append("<li class=user-details><span contenteditable=true>"+$("#newOption").val()+"</span><button type=button class=cancel-button onclick=removeOption(this)></button></li>");
			$("#newOption").val("");
		}
		
		function removeOption(option) {
			$(option).parent().remove();
		}
		
		function getPollOptions() {
			options=[];
			$("#options li").each(function( index ) {
				options.push($(this).text());
			});
			console.log( options);
		}
		
		var socket = io.connect('http://localhost:3000');
		$("#submit").click(function(){
			socket.emit('new group', {name : $("#name").val(), desc : $("#desc").val()});
		});
		socket.on('socket_req', function (data) {
//        console.log(data);
        socket.emit('my other event', { my: 'data' });
		});
    </script>
</body>
</html>
