<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/pollAdmin.css">
</head>

<body style="background-color: rgb(33,37,46)">
    <div class="container" ng-app="poll" ng-controller="poll_ctrl">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center" style="color:white">{{meeting_name}}</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <label for="name" class="vote-details">Poll Name:</label>
                <input type="text" class="form-control" name="name" id="name" ng-model="new_poll.poll_name">

                <label for="desc" class="vote-details">Description:</label>
                <textarea type="text" rows="5" class="form-control" name="desc" id="desc" ng-model="new_poll.poll_description"></textarea>

                <label for="options" class="vote-details">Poll Options:</label>

                <div class="row">
                    <div class="col-md-4">
                         <input id="newOption" type="text" class="form-control" placeholder="+  New option" ng-model="newOption" type="text">
                    </div>
                    <button ng-click="add(newOption)" class="btn-default btn-sm">Add</button>


                </div>
                <ul id="options">
                    <li ng-repeat="i in new_poll.poll_options" class="user-details" ng-click="remove($index)">{{i}}</li>
                </ul>

                <button class="btn btn-success btn-lg group-button text-center" id="submit" ng-click="submit()" ng-disabled="!verifyContents()">
                    Submit
                </button>
                <button ng-click="clear()" class="btn btn-danger btn-lg group-button text-center">
                    Clear
                </button>
                <hr style="border-top: 1px solid rgb(80, 88, 105);">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="u in unique_users">{{u}}</li>
                </ul>
            </div>
            <div class="col-md-8" style="color: white;" ng-if="!poll_active">
                <h2>No polls are currently active!</h2>
            </div>
            <div class="col-md-8" style="color: white;" ng-if="poll_active">
                <h2><button class="btn btn-danger pull-right" ng-click="closePoll()">Close Poll</button>Active Poll: {{poll_name}}</h2>
                <p>Description: {{poll_description}}</p>
                <p>Options:</p>
                <ul>
                    <li ng-if="poll_options" ng-repeat="o in poll_options">
                        {{ o }}: {{ poll_results[o] }}/{{ poll_total_votes }}
                    </li>
                </ul>
			    <div id="canvas-holder" style="width:75%">
			        <canvas id="chart" />
			    </div>
            </div>
        </div>

         <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center user-details">
                A Web Science Systems Development Project
                </h2>
                <h2 class="text-center user-details">
                Created by Justin Etzine, Steve Cardozo, Sensen Chen, Sam Fok, and Tristan Villamil
                </h2>
            </div>
        </div>
    </div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="/Chart/dist/Chart.bundle.js"></script>

    <script>
        var meeting_id = window.location.href.split('/').pop();

        // remove any trailing '?'s
        if(meeting_id[meeting_id.length - 1] === '?') {
            meeting_id = meeting_id.slice(0, -1);
        }


        var app = angular.module("poll",[]);
        app.controller("poll_ctrl",function($scope,$http){
            var l = document.createElement("a");
            l.href = window.location.href;
            var socket = io.connect('http://' + l.host);
            $scope.new_poll = {
                poll_name: '',
                poll_description: '',
                poll_options: []
            };

            $scope.meeting_id = null;
            $scope.poll_id = null;
            $scope.poll_name = "";
            $scope.poll_description = "";
            $scope.meeting_name = '';
            $scope.poll_options = [];
            $scope.poll_results = {};
            $scope.poll_total_votes = 0;
            $scope.username = "";
            $scope.poll_active = false;
            $scope.current_users = [];
            $scope.unique_users = [];

            $http.get('/api/getuser').then(function (response) {
                if(response.data.is_authenticated) {
                    $scope.username = response.data.user;
                    socket.emit("join meeting",{ meeting_id: meeting_id, username: $scope.username, is_admin: true });
                    console.log($scope.username + " joined meeting");
                }
            })

            $scope.add = function(item) {

                if(($scope.new_poll.poll_options).indexOf(item) > -1){
//                      alert("already contains")
                }
                else {
                    $scope.new_poll.poll_options.push(item);
                    $scope.newOption = "";
                }
            };

            $scope.remove = function(index) {
                $scope.poll_options.splice(index, 1);
            };

            socket.on('join successful', function (data) {
                $scope.meeting_name = data.meeting_name;
                $scope.meeting_id = data.meeting_id;
            })

            socket.on("poll active", function (data) {
                if($scope.meeting_id === data.meeting_id && $scope.poll_id !== data.poll_id) {
                    console.log('poll active', $scope.meeting_id);
                    console.log(data.poll_results);
                    $scope.poll_id = data.poll_id;
                    $scope.poll_active = true;
                    $scope.poll_name = data.poll_name;
                    $scope.poll_description = data.poll_description;
                    $scope.poll_options = data.poll_options || [];
                    $scope.poll_results = data.poll_results || {};
                    $scope.poll_total_votes = data.total_votes;
                    $scope.$apply();
                }
            });

            socket.on("no poll active", function (data) {
                console.log($scope.meeting_id);
                if($scope.meeting_id === data.meeting_id) {
                    $scope.poll_id = null;
                    $scope.poll_active = false;
                    $scope.poll_name = "";
                    $scope.poll_description = "";
                    $scope.poll_options = [];
                    $scope.poll_results = {};
                    $scope.poll_total_votes = 0;
                    $scope.$apply();
                }
            });

            socket.on("admin socket authenticated", function (user_data) {
                if($scope.meeting_id === user_data.meeting_id) {
                    $scope.current_users.push(user_data);

                    if($scope.unique_users.indexOf(user_data.username) === -1) {
                        $scope.unique_users.push(user_data.username);
                    }
                    $scope.$apply();
                }
            });

            socket.on("admin socket disconnected", function (socket_id) {
                var username = null;
                var index = -1;
                for(var i = 0; i < $scope.current_users.length; i++) {
                    if($scope.current_users[i].clientSocketID === socket_id) {
                        index = i;
                        username = $scope.current_users[i].username;
                        break;
                    }
                }

                if(index != -1) {
                    $scope.current_users.splice(index, 1);
                    $scope.unique_users.splice($scope.unique_users.indexOf(username), 1);
                }
            });

            socket.on('admin vote added', function (vote) {
                if($scope.meeting_id === vote.meeting_id) {
                    $scope.$apply(function () {
                        console.log('admin vote added');
                        if(!$scope.poll_results[val]) {
                            $scope.poll_results[val] = 1;
                        } else {
                            $scope.poll_results[val]++;
                        }
                        $scope.poll_total_votes++;
                        for(var i = 0; i < config.data.datasets.labels.length; ++i){
    						if(config.data.datasets.labels[i] == val){
    							++config.data.datasets.data[i];
    						}
    					}
    					window.myDoughnut.update();
                    });
                }
            });

            socket.on('admin vote updated', function (vals) {
                if($scope.meeting_id === vals.meeting_id) {
                    console.log('admin vote updated');
                    if($scope.poll_results[vals.old]) {
                        $scope.poll_results[vals.old]--;
                    }

                    if(!$scope.poll_results[vals.new]) {
                        $scope.poll_results[vals.new] = 1;
                    } else {
                        $scope.poll_results[vals.new]++;
                    }
                    $scope.$apply();
                }
            })

            $scope.toggle_create = function(){
                $scope.create_poll = !$scope.create_poll;
            }

            $scope.submit = function() {
                socket.emit("create poll", {
                    name: $scope.new_poll.poll_name,
                    description: $scope.new_poll.poll_description,
                    options: $scope.new_poll.poll_options,
                    username: $scope.username
                });

                $scope.clear();
                var randomScalingFactor = function() {
			        return Math.round(Math.random() * 100);
			    };
			    var randomColorFactor = function() {
			        return Math.round(Math.random() * 255);
			    };
			    var randomColor = function(opacity) {
			        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
			    };
			    //------------------------------------------------------------------------------------------------------//
			    var color = [];
			    var zeros = [];
			    for(var i = 0; i < $scope.new_poll.poll_options.length; i++) {
				    color.push(randomColor);
				    zeros.push(0);
				}
			    var config = {
			        type: 'pie',
			        data: {
			            datasets: [{
			                data: zeros,
			                backgroundColor: color,
			                label: 'Dataset 1'
			            }],
			            labels: $scope.new_poll.poll_options
			        },
			        options: {
			            responsive: true,
			            legend: {
			                position: 'top',
			            },
			            title: {
			                display: true,
			                text: 'Chart.js Doughnut Chart'
			            },
			            animation: {
			                animateScale: true,
			                animateRotate: true
			            }
			        }
			    };
			    var ctx = $("#chart");
			    window.myDoughnut = new Chart(ctx, config);

				$scope.clear();
            }

            $scope.clear = function () {
                $scope.new_poll.poll_name = '';
                $scope.new_poll.poll_description = '';
                $scope.new_poll.poll_options = [];
            }

            $scope.verifyContents = function() {
                return $scope.new_poll.poll_name !== '' &&
                       $scope.new_poll.poll_options.length > 0;
            }

            $scope.closePoll = function() {
                socket.emit("close poll", $scope.username);
            }
		});
	</script>
</body>
</html>