<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/pollAdmin.css">
</head>

<body style="background-color: rgb(33,37,46)">
    <div class="container" ng-app="poll" ng-controller="poll_ctrl">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center" style="color:white">Meeting for The Poly</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <label for="name" class="vote-details">Poll Name:</label>
                <input type="text" class="form-control" name="name" id="name" ng-model="new_poll.poll_name">

                <label for="desc" class="vote-details">Description:</label>
                <textarea type="text" rows="5" class="form-control" name="desc" id="desc" ng-model="new_poll.poll_description"></textarea>

                <label for="options" class="vote-details">Poll Options:</label>

                <div class="row">
                    <div class="col-md-4">
                         <input id="newOption" type="text" class="form-control" placeholder="+  New option" ng-model="newOption" type="text">
                    </div>
                    <button ng-click="add(newOption)" class="btn-default btn-sm">Add</button>


                </div>
                <ul id="options">
                    <li ng-repeat="i in new_poll.poll_options" class="user-details" ng-click="remove($index)">{{i}}</li>
                </ul>

                <button class="btn btn-success btn-lg group-button text-center" id="submit" ng-click="submit()" ng-disabled="!verifyContents()">
                    Submit
                </button>
                <button ng-click="clear()" class="btn btn-danger btn-lg group-button text-center">
                    Clear
                </button>
                <hr style="border-top: 1px solid rgb(80, 88, 105);">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="u in unique_users">{{u}}</li>
                </ul>
            </div>
            <div class="col-md-8" style="color: white;" ng-if="!poll_active">
                <h2>No polls are currently active!</h2>
            </div>
            <div class="col-md-8" style="color: white;" ng-if="poll_active">
                <h2><button class="btn btn-danger pull-right">Close Poll</button>Active Poll: {{poll_name}}</h2>
                <p>Description: {{poll_description}}</p>
                <p>Options:</p>
                <ul>
                    <li ng-if="poll_options" ng-repeat="o in poll_options">{{ showOptionInfo(o) }}</li>
                </ul>
                <canvas id="chart"></canvas>
            </div>
        </div>

         <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center user-details">
                A Web Science Systems Development Project
                </h2>
                <h2 class="text-center user-details">
                Created by Justin Etzine, Steve Cardozo, Sensen Chen, Sam Fok, and Tristan Villamil
                </h2>
            </div>
        </div>
    </div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="/Chart/dist/Chart.bundle.js"></script>

    <script>
        var meeting_id = window.location.href.split('/').pop();

        // remove any trailing '?'s
        if(meeting_id[meeting_id.length - 1] === '?') {
            meeting_id = meeting_id.slice(0, -1);
        }


        var app = angular.module("poll",[]);
        app.controller("poll_ctrl",function($scope,$http){
            var socket = io.connect('http://localhost:3000');
            $scope.new_poll = {
                poll_name: '',
                poll_description: '',
                poll_options: []
            };

            $scope.poll_name = "";
            $scope.poll_description = "";
            $scope.poll_options = [];
            $scope.poll_results = {};
            $scope.poll_total_votes = 0;
            $scope.username = "";
            $scope.poll_active = false;
            $scope.current_users = [];
            $scope.unique_users = [];

            $http.get('/api/getuser').then(function (response) {
                if(response.data.is_authenticated) {
                    $scope.username = response.data.user;
                    socket.emit("join meeting",{ meeting_id: meeting_id, username: $scope.username, is_admin: true });
                    console.log($scope.username + " joined meeting");
                }
            })

            $scope.add = function(item) {

                if(($scope.new_poll.poll_options).indexOf(item) > -1){
//                      alert("already contains")
                }
                else {
                    $scope.new_poll.poll_options.push(item);
                    $scope.newOption = "";
                }
            };

            $scope.remove = function(index) {
                $scope.poll_options.splice(index, 1);
            };

            socket.on("poll active", function (data) {
                $scope.poll_active = true;
                $scope.poll_name = data.poll_name;
                $scope.poll_description = data.poll_description;
                $scope.poll_options = data.poll_options || [];
                $scope.vote_results = {};
                $scope.poll_total_votes = 0;
                $scope.$apply();
            });

            socket.on("no poll active", function () {
                $scope.poll_active = false;
                $scope.poll_name = "";
                $scope.poll_description = "";
                $scope.poll_options = [];
                $scope.vote_results = {};
                $scope.poll_total_votes = 0;
                $scope.$apply();
            });

            socket.on("admin socket authenticated", function (user_data) {
                $scope.current_users.push(user_data);

                if($scope.unique_users.indexOf(user_data.username) === -1) {
                    $scope.unique_users.push(user_data.username);
                }
                $scope.$apply();
            });

            socket.on("admin socket disconnected", function (socket_id) {
                var username, index;
                for(var i = 0; i < $scope.current_users.length; i++) {
                    if($scope.current_users[i].clientSocketID === socket_id) {
                        index = i;
                        username = $scope.current_users[i].username;
                        break;
                    }
                }

                $scope.current_users.splice(index, 1);
                $scope.unique_users.splice($scope.unique_users.indexOf(username), 1);
            });

            socket.on('vote recorded', function (val) {
                if(!$scope.vote_results[val]) {
                    $scope.vote_results[val] = 1;
                } else {
                    $scope.vote_results[val]++;
                }
                $scope.poll_total_votes++;
                $scope.$apply();
            });

            $scope.toggle_create = function(){
                $scope.create_poll = !$scope.create_poll;
            }

            $scope.submit = function() {
                socket.emit("create poll", {
                    name: $scope.new_poll.poll_name,
                    description: $scope.new_poll.poll_description,
                    options: $scope.new_poll.poll_options,
                    username: $scope.username
                });

                $scope.clear();
            }

            $scope.clear = function () {
                $scope.new_poll.poll_name = '';
                $scope.new_poll.poll_description = '';
                $scope.new_poll.poll_options = [];
            }

            $scope.verifyContents = function() {
                return $scope.new_poll.poll_name !== '' &&
                       $scope.new_poll.poll_options.length > 0;
            }

			//------------------------------------------------------------------------------------------------------//
		    var randomScalingFactor = function() {
		        return Math.round(Math.random() * 100);
		    };
		    var randomColorFactor = function() {
		        return Math.round(Math.random() * 255);
		    };
		    var randomColor = function(opacity) {
		        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
		    };

		    var config = {
		        type: 'pie',
		        data: {
		            datasets: [{
		                data: [
		                    randomScalingFactor(),
		                    randomScalingFactor(),
		                    randomScalingFactor(),
		                    randomScalingFactor(),
		                    randomScalingFactor(),
		                ],
		                backgroundColor: [
		                    "#F7464A",
		                    "#46BFBD",
		                    "#FDB45C",
		                    "#949FB1",
		                    "#4D5360",
		                ],
		                label: 'Dataset 1'
		            }],
		            labels: [
		                "Red",
		                "Green",
		                "Yellow",
		                "Grey",
		                "Dark Grey"
		            ]
		        },
		        options: {
		            responsive: true,
		            legend: {
		                position: 'top',
		            },
		            title: {
		                display: true,
		                text: 'Chart.js Doughnut Chart'
		            },
		            animation: {
		                animateScale: true,
		                animateRotate: true
		            }
		        }
		    };

		    window.onload = function() {
		        var ctx = $("#chart");
		        window.myPie = new Chart(ctx, config);
		    };

		    $('#randomizeData').click(function() {
		        $.each(config.data.datasets, function(i, dataset) {
		            dataset.data = dataset.data.map(function() {
		                return randomScalingFactor();
		            });

		            dataset.backgroundColor = dataset.backgroundColor.map(function() {
		                return randomColor(0.7);
		            });
		        });

		        window.myPie.update();
		    });

		    $('#addDataset').click(function() {
		        var newDataset = {
		            backgroundColor: [],
		            data: [],
		            label: 'New dataset ' + config.data.datasets.length,
		        };

		        for (var index = 0; index < config.data.labels.length; ++index) {
		            newDataset.data.push(randomScalingFactor());
		            newDataset.backgroundColor.push(randomColor(0.7));
		        }

		        config.data.datasets.push(newDataset);
		        window.myPie.update();
		    });

		    $('#addData').click(function() {
		        if (config.data.datasets.length > 0) {
		            config.data.labels.push('data #' + config.data.labels.length);

		            $.each(config.data.datasets, function(index, dataset) {
		                dataset.data.push(randomScalingFactor());
		                dataset.backgroundColor.push(randomColor(0.7));
		            });

		            window.myPie.update();
		        }
		    });

		    $('#removeDataset').click(function() {
		        config.data.datasets.splice(0, 1);
		        window.myPie.update();
		    });

		    $('#removeData').click(function() {
		        config.data.labels.splice(-1, 1); // remove the label first

		        config.data.datasets.forEach(function(dataset, datasetIndex) {
		            dataset.data.pop();
		            dataset.backgroundColor.pop();
		        });

		        window.myPie.update();
		    });

            $scope.showOptionInfo = function (option) {
                if(!$scope.poll_results) {
                    $scope.poll_results = {};
                } else if (!$scope.poll_results[option]) {
                    $scope.poll_results[option] = 0;
                }

                return option + ': ' + $scope.poll_results[option] + '/' + $scope.poll_total_votes;
            }
        });
    </script>
</body>
</html>
