<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="mainmenu.css">
	<link rel="stylesheet" type="text/css" href="loader.css">
</head>

<body style="background-color: rgb(33,37,46)">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center header">Welcome to Elex</h1>
			</div>
		</div>

		<!-- <div class="row">
			<form method="get" action="/creategroup" class="col-md-16 text-center">
				<button type="submit" class="btn btn-primary btn-lg group-button">
					Create Group
				</button>
			</form>
		</div> -->

		<div class="row vote-buttons" id="groups">
			<div class="loader button-list-loader"></div>
		</div>

		<div class="row">
			<div class="col-xs-12">
			<h2 class="text-center user-details">
			A Web Science Systems Development Project
			</h2>
			<h2 class="text-center user-details">
			Created by Justin Etzine, Steve Cardozo, Sensen Chen, Sam Fok, and Tristan Villamil
			</h2>
			</div>
		</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
		$.get('/api/groups', function (response) {
			$("#groups").empty();
			response.forEach(function(arr, index){
				var toAdd = $("<form>").attr('method', 'get').attr('action', '/meetings/' + arr._id);

				if(response.length % 3 === 2 && index === response.length - 2) {
					toAdd.attr('class', 'col-md-offset-2 col-md-4 text-center');
				} else if(response.length % 3 === 1 && index === response.length - 1) {
					toAdd.attr('class', 'col-md-offset-4 col-md-4 text-center');
				} else {
					toAdd.attr('class', 'col-md-4 text-center');
				}

				toAdd.append($("<button>").attr('type', 'submit').attr('class', 'btn btn-danger btn-lg group-button').text(arr.name));
				$("#groups").append(toAdd);
			});
		});
    </script>
</body>
</html>
