<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/pin.css">
</head>

<body style="background-color: rgb(33,37,46)">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center header">Student Gov</h1>
			</div>
		</div>

		<div class="row vote-buttons">
			<div class="col-md-16">
				<form id="submitForm">
					<label for="pin" class="vote-details">Enter PIN:</label>
					<input type="text" class="form-control" name="pin" id="pin"/>
					<button type="submit" class="btn btn-success btn-lg group-button text-center">
						Submit
					</button>
				</form>
				<div id="cancel"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center user-details">
				A Web Science Systems Development Project
				</h2>
				<h2 class="text-center user-details">
				Created by Justin Etzine, Steve Cardozo, Sensen Chen, Sam Fok, and Tristan Villamil
				</h2>
			</div>
		</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
		var meeting_id = window.location.href.split('/').pop();

		// remove any trailing '?'s
		if(meeting_id[meeting_id.length - 1] === '?') {
			meeting_id = meeting_id.slice(0, -1);
		}

		$(document).ready(function () {
			$('#submitForm').attr('method', 'post').attr('action', '/vote/' + meeting_id);
			$('#cancel').html("<form method=\"get\" action=\"/meetings/" + group_id + "\"><button type=\"submit\" class=\"btn btn-danger btn-lg group-button text-center\">Cancel</button></form>");
		})

		</script>
</body>
</html>
