<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="vote.css">
</head>

<body style="background-color: rgb(33,37,46)">
	<div class="container">
        <div ng-app="vote" ng-controller="vote_ctrl">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center header">General Body Meeting: {{meeting_date}}</h1>
                    <h2 class="text-center vote-details">You are voting on: Motion {{motion_num}}</h2>
                </div>
            </div>
            <div class="row vote-buttons">
                <div ng-repeat="value in poll_values" class="col-md-4 text-center">
                    <button class="btn btn-default btn-lg vote-button" ng-click = "vote(value)">
                        <i class="fa fa-thumbs-up"></i>
                        {{value}}
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center user-details">
                    {{clubname}}
                    </h2>
                    <h2 class="text-center user-details">
                    Signed in as {{user_name}} ({{username}})
                    </h2>
                </div>
            </div>

            <div class="row">
                <form method="get" action="/logout" class="col-xs-12 text-center">
                    <button class="btn btn-default btn-sm" style="margin-top: 1%">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
    
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    
    <script>
        var app = angular.module("vote",[]);
        app.controller("vote_ctrl",function($scope){
            $scope.motion_num = 2;
            $scope.meeting_date = "Jan. 27";
            $scope.poll_values = ["yes","no","abstain"];
            $scope.clubname = "46th Student Senate";
            $scope.user_name = "Richard Plotka";
            $scope.username = "plotkr2"; 
            $scope.meeting_id = "somerandomid"; 
            $scope.poll_id = "somerandomid"; 
        

            var socket = io.connect('http://localhost:3000');
//            var socket2 = io2.connect('http://localhost:3000');
            socket.on('enter vote', function (data) {
                $scope.user_name = data["user_name"];    
                $scope.username = data["username"];    
                $scope.clubname = data["clubname"];    
                $scope.meeting_date = data["meeting_date"];    
                $scope.motion_numb = data["motion_num"];    
                $scope.meeting_id = data["meeting_id"];    
                $scope.poll_id = data["poll_id"];    
            });
            
            $scope.vote = function(val){
                socket.emit('submit vote', {vote: String(val), pid: $scope.poll_id, mid: $scope.meeting_id}, voter: $scope.username);
            }
        
        });
    </script>
</body>
</html>
